@import './font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Kanit";
  
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #E5E5E5;
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6B4F4F; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #483434; 
}

@layer utilities {
  .headlineXL {
    font-family: "Kanit Medium";
    font-size: 36px;
  }

  .headlineL {
    font-family: "Kanit Medium";
    font-size: 28px;
  }

  .headlineM {
    font-family: "Kanit Medium";
    font-size: 24px;
  }

  .titleM {
    font-family: "Kanit Medium";
    font-size: 18px;
  }

  .titleS {
    font-family: "Kanit Medium";
    font-size: 16px;
  }

  .bodyL {
    font-family: "Kanit";
    font-size: 20px;
  }

  .bodyM {
    font-family: "Kanit";
    font-size: 16px;
  }

  .bodyS {
    font-family: "Kanit";
    font-size: 12px;
  }

  .bodyXS {
    font-family: "Kanit";
    font-size: 10px;
  }

  .card-shadow {
    filter: drop-shadow(0px 4px 10px rgba(192, 192, 192, 0.25));
}
}